{% extends 'base.html' %}
{% block content %}
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'quiz/single_quiz1.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script
    type="text/javascript"
    src="http://code.jquery.com/jquery-latest.min.js"
  ></script>

    <meta charset="UTF-8">
    <title>Single Quiz</title>


    <div class="full_container col-8 mx-auto my-3">

        <h1 class="quiz_title">{{ quiz.quiz_title }}</h1>

        <h4 class="num_questions">{{ num_questions }} Questions</h4>
<form action="" method="post">
    <a class="home_button" id="save" href="{% url 'quiz:single_question' quiz.id 1 %}">Start Quiz</a>
</form>
        
        <br>
        <br>
        <br>
        <a class="home_button"  href="{% url 'quiz:index' %}">Home</a>

    </div>

    <script type="text/javascript">
        //   $(function() {
        //     $("#save").on("click", function(e) {
        //       e.preventDefault();
        //       console.log("2")
        //       alert("radioValue =", radioValue);
        //       urls = "{% url 'quiz:single_question' quiz.id 1 %}",
        //       $.ajax({
                    // type: "POST",
                    // method: "POST",
        //         url: "{% url 'quiz:single_question' quiz.id 1 %}",
                
                
                
        //       })
               
        //     });
        //   });
        
    $('#save').on('click', function(){
        
        $attempt ="";
            $.ajax({
                type: "POST",
                url: "{% url 'quiz:single_question' quiz.id 1 %}",
                data:{
                    attemptst: $attempt+1,
                    
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                },
               
            });
           
    });

</script>
{% endblock %}