
{% extends 'adminbase.html' %}
{% block content %}

<div class="card col-8 mx-auto bg-dark text-white border-white" >
    <div class="row p-2">
     <div class="col-xl-3  ">
        
         {% if object.profile_pic %}
         <img src="{{ object.profile_pic.url }}" class="card-img-top rounded-circle "  alt="..." style="width: 13rem;height: 15rem;">
         
         {% endif %}
 
     </div>
         <div class="col-xl-9">
     <div class="card-body">
       <h5 class="card-title text-capitalize ">Name: &nbsp; {{ object.first_name }} {{ object.last_name }}</h5>
       <p class="card-text">Email: &nbsp; {{ object.email }}</p>
       
 
       <hr>
       <p class="card-text"> BIO &nbsp; {{ object.bio }}</p>
       <p class="card-text text-capitalize"> Country &nbsp; {{ object.country }}</p>
       <hr>
       <div class="d-flex justify-content-around">
         <p class="card-text"> Points: &nbsp;{{total_points}}</p>
         <p class="card-text"> Level: &nbsp; </p>
       </div>
       
       <a href="{% url 'user_update' object.id %} " class="btn btn-primary ">update</a>
     
    
     </div>
 </div>
   </div>
 </div>
 
{% endblock  %}